<launch>
    <arg name="voiceprint_recognition_enabled" default="false"/>
    <arg name="voiceprint_service_url" default="http://your_voiceprint_recognition_service/api/recognize"/>

    <node name="speech_recognition_node" pkg="speech_recognition" type="speech_recognition_node.py" output="screen">
        <param name="voiceprint_recognition_enabled" value="$(arg voiceprint_recognition_enabled)"/>
        <param name="voiceprint_service_url" value="$(arg voiceprint_service_url)"/>
    </node>

    <node name="custom_cam_node" pkg="custom_cam_pkg" type="custom_cam_node.py" output="screen">
    </node>
</launch>
